<h1>Select list for RTM Items</h1>
<%
if !@authenticated
	"ACCESS DENIED"

else %>
	<% form_tag(:controller => "rtm_items", :action => "show") do %>
		<%= select("lists", "selected", @list_names) %>
		<%= submit_tag("imdb the tasks") %>
	<% end %>
<% end %>